
@*@{
        ViewData["Title"] = "Log out";
    }*@
@{
    Layout = "/Views/Shared/_LoggedLayout.cshtml";
}
<header>
    
    <p class="h2">You have successfully logged in to the application.</p>


</header>
