
@model Sport_shop.Data.IsLogged
@*@{
        ViewData["Title"] = "Log out";
    }*@

<header>
    @*<h1>@ViewData["Title"]</h1>*@
    @{Model.LoggedIn = false; }
    <p>You have successfully logged out of the application.</p>
</header>